# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

## webstorm ##
.idea/

## development environment ##
node_modules/
platforms/
plugins/
res/
resources/
hooks/
www/build/
www/app/
www/lib/
