<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab title="Expenses" href="/expenses" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="expenses"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Incomes" href="/incomes" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-nav-view name="incomes"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Stats" href="/stats" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <ion-nav-view name="stats"></ion-nav-view>
  </ion-tab>
</ion-tabs>
